@model IEnumerable<HgtvMusicAPI.Data.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path_Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Singer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path_Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.NameCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Singer.NameSinger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.NameAlbum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
